body{
  background-image:url(fish4.jpg);
}
.image{
float:left;
border:2px solid black;
border-radius: 5px;
margin-right:5px;
margin-top: 50px;
margin-left: 20px;
}
.picture{
  float:left;
border:2px solid black;
border-radius: 5px;
margin-top: 10px;

}
.pic{

border:2px solid black;
border-radius: 5px;
margin:0px;
margin-right: 785px;
margin-left: 20px;

}
#web{
color:black;
display: table-row;
padding:15px;
padding-right:100px;
padding-left:100px;
padding-bottom:5px;
background-color:#ffcf79;
border:solid 2px black;
border-radius: 5px;
float:right;
text-align: center;
margin-left: 500px;
margin-top: -500px;
}
.row{
display:table-row;
}
.row label{
display:table-cell;
padding:2px;
text-align:left;
}
.row input{
display:table-cell;
padding:2px;

}
h1{
color: black;

}
